@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-image: url(../images/piggy-bank.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    max-width: 1300px;
    margin: auto;
}

/* ----- NAVBAR AND BUTTON SECTION ----- */

nav {
    display: flex;
    justify-content:space-between;
    background-color: #222222cc;
    padding: 10px 10px; 
    border-radius: 0 0 15px 15px;
}

.button-section {
    margin-top: 6px;
}

.login-btn {
    background-color: #FF6200;
    font-size: 18px;
    font-weight: bold;
    padding: 6px;
    margin-right: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.reg-btn {
    background-color: #FF6200;
    font-size: 18px;
    font-weight: bold;
    padding: 6px;
    border-radius: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.logout-btn {
    background-color: #FF6200;
    font-size: 18px;
    padding: 6px;
    border-radius: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.login-btn:hover,
.logout-btn:hover,
.reg-btn:hover {
    box-shadow: 1px 1px 10px #FF6200;
}

#language-section{
    justify-items: right;
}

.language-icon {
    width: 31px;
    margin: 0px 0px 0px 6px;
    cursor: pointer;
}

/* ----- INDEX PARAGRAF -----  */

#index-container {
    max-height: 100vh;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

#index-info {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 23px;
    color: #FFFFFF;
    text-align: center;
    background-image: linear-gradient(#22222271, #ff620067);
    border-radius: 15px;
}

.info-span {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border-radius: 15px;
}

.info-span:hover {
    background-color:#000066;
    box-shadow: 1px 1px 10px #000066;
}

@media only screen and (min-width: 768px){
    
    #index-info {
        font-size: 33px;
    }
}

/* ----- LOGIN SECTION ----- */
/* CONTAINER */

#login-container{
    max-height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

/* TITLE */

#login-title {
    color: #FFFFFF; 
    text-align: center;
}

/* LOGIN STATUS */

#login-status {
    text-align: center;
    margin-bottom: 15px;
    font-size: 27px;
    background-color: #22222225;
}

.login-status-ok {
    color:#99FF00;
    font-weight: bold;
}

.login-status-not-ok {
    color: #FF0000;
    font-weight: bold;
}

.free-mail {
    color:#99FF00;
    text-decoration: none;
}

/* FORM: LABEL AND INPUT */

#login-form {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 15px;
    background-image: linear-gradient(#22222271, #ff620067);
    font-size: 23px;
}

.login-label-input-div {
    text-align: center;
}

.login-label {
    display: block;
}

.login-input {

}

@media only screen and (min-width: 675px){
    
    .login-label {
        display: inline-block;
    }
    
}

/* LOGIN BUTTON */

#login-btn-section {
    text-align: center;
}

.login-button {
    background-color: #AFDFF9;
    font-size: 18px;
    font-weight: bold;
    padding: 6px;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    color: #222222;
    margin: 15px 0 10px 0;
}

.login-button:hover {
    box-shadow: 2px 2px 10px #AFDFF9;
}


/* ----- REGISTRATION SECTION ----- */
/* CONTAINER */

#reg-container {
    max-height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

/* TITLE */

#title-reg {
    color: #FFFFFF; 
    text-align: center;
}

/* REGISTRATION STATUS */

#reg-status {
    text-align: center;
    margin-bottom: 15px;
    font-size: 27px;
    background-color: #22222225;
}

.reg-status-ok {
    color:#99FF00;
    font-weight: bold;
}

.reg-status-not-ok {
    color: #FF0000;
    font-weight: bold;
}


/* FORM: LABEL AND INPUT */

#reg-form {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 15px;
    background-image: linear-gradient(#22222271, #ff620067);
    font-size: 23px;
}

.reg-label-input-div {
    text-align: center;
}

.reg-label {
    display: block;
}

.reg-input {
    
}

@media only screen and (min-width: 570px){
    
    .reg-label {
        display: inline-block;
    }
    
}

/* REGISTRATION BUTTON */

#reg-btn-section {
    text-align: center;
}

.reg-button {
    background-color: #AFDFF9;
    font-size: 18px;
    font-weight: bold;
    padding: 6px;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    color: #222222;
    margin: 15px 0 10px 0;
}

.reg-button:hover {
    box-shadow: 2px 2px 10px #AFDFF9;
}

/* ----- MAIN SECTION ----- */
/* User welcome */

#username-welcome {
    font-size: 18px;
    color:#FFFFFF;
    margin-right: 10px;
    padding-top: 6px;
}

/* Charts */
#chart-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.chart-space {
    width: 100px;
}

/* Table */

.table {
    background-color: #222222cc;
    color:#FFFFFF;
    margin: auto;
    border-radius: 15px;
}

th {
    font-size: 18px;
    font-weight: bold;
}

td {
    border-top: 1px dotted #222222;
}

.clickable-row {
    cursor: pointer;
}




th,
td {
    padding: 5px 30px 5px 30px;
}

@media only screen and (min-width: 640px){
    #chart-container {
        justify-content: center;
    }
}

@media only screen and (max-width: 768px){
    
    .hidden-on-mobile {
        display: none;
    }

    th,
    td {
    padding: 5px 10px 5px 10px;
    }   
}