@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-image: url(../images/piggy-bank.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    max-width: 1300px;
    margin: auto;
}

/* ----- NAVBAR AND BUTTON SECTION ----- */

nav {
    display: flex;
    justify-content: flex-start;
    background-color: #222222cc;
    padding: 10px 10px; 
    border-radius: 0 0 15px 15px;
}

.login-btn {
    background-color: #FF6200;
    font-size: 18px;
    font-weight: bold;
    padding: 6px;
    margin-right: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.reg-btn {
    background-color: #FF6200;
    font-size: 18px;
    font-weight: bold;
    padding: 6px;
    border-radius: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.logout-btn {
    background-color: #FF6200;
    font-size: 18px;
    padding: 6px;
    border-radius: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.login-btn:hover,
.logout-btn:hover,
.reg-btn:hover {
    box-shadow: 1px 1px 10px #FF6200;
}

/* ----- INDEX PARAGRAF -----  */

#index-container {
    max-height: 100vh;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

#index-info {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 23px;
    color: #FFFFFF;
    text-align: center;
    background-image: linear-gradient(#22222271, #ff620067);
    border-radius: 15px;
}

.info-span {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border-radius: 15px;
}

.info-span:hover {
    background-color:#000066;
    box-shadow: 1px 1px 10px #000066;
}

@media only screen and (min-width: 768px){
    
    #index-info {
        font-size: 33px;
    }
}

/* ----- LOGIN SECTION ----- */



/* ----- REGISTRATION SECTION ----- */
/* CONTAINER */

#reg-container {
    max-height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

/* TITLE */

h2 {
    color: #FFFFFF; 
    text-align: center;
}

/* FORM: LABEL AND INPUT */

#reg-form {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 15px;
    background-image: linear-gradient(#22222271, #ff620067);
    font-size: 23px;
}

#one {
    text-align: center;
}
#two {
    display: block;
}

#three {
    
}

@media only screen and (min-width: 570px){
    
    #two {
        display: inline-block;
    }
    
}

/* REGISTRATION BUTTON */

#reg-btn {
    text-align: center;
}

.reg-button {
    background-color: #AFDFF9;
    font-size: 18px;
    font-weight: bold;
    padding: 6px;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    color: #222222;
    margin: 15px 0 10px 0;
}

.reg-button:hover {
    box-shadow: 2px 2px 10px #AFDFF9;
}