@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-image: url(../images/piggy-bank.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    max-width: 1300px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: flex-start;
    background-color: aqua;
    padding: 10px 10px; 
    border-radius: 0 0 15px 15px;
}

.login-btn {
    background-color: coral;
    font-size: 18px;
    padding: 6px;
    margin-right: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

.reg-btn {
    background-color: coral;
    font-size: 18px;
    padding: 6px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

