* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/piggy-bank.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: center;
}
