@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-image: url(../images/piggy-bank.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    max-width: 1300px;
    margin: auto;
}

/* ----- NAVBAR AND BUTTON SECTION ----- */

nav {
    display: flex;
    justify-content: flex-start;
    background-color: aqua;
    padding: 10px 10px; 
    border-radius: 0 0 15px 15px;
}

.login-btn {
    background-color: coral;
    font-size: 18px;
    padding: 6px;
    margin-right: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

.reg-btn {
    background-color: coral;
    font-size: 18px;
    padding: 6px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

/* ----- INDEX PARAGRAF -----  */

#index-container {
    max-height: 100vh;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

#index-info {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 23px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.219);
    border-radius: 15px;
}

@media only screen and (min-width: 768px){
    
    #index-info {
        font-size: 35px;
    }
}